{% extends 'petugas/sidebar.html' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b>Antrian Pasien Ke Dokter</b></h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th width='15%'>Nama</th>
                <th width='15%'>Keluhan</th>
                <th width='15%'>Poli</th>
                <th width='15%'>Tanggal</th>
                <th width='15%'>Waktu</th>
                <th width='15'>Dokter</th>
              </tr>
              </thead>
              <tbody>
              {% for pasien in antrian_pasien %}
                <tr>
                  <td>{{ pasien.pasien }}</td>
                  <td>{{ pasien.keluhan }}</td>
                  <td>{{ pasien.jadwal.poli }}</td>
                  <td>{{ pasien.tanggal_berkunjung }}</td>
                  <td>{{ pasien.jadwal.waktu_mulai }} - {{ pasien.jadwal.waktu_selesai }}</td>
                  <td>{{ pasien.dokter }} <a href="{% url 'pengobatan:detail_pengobatan' tipe=request.user.tipe antrian=pasien.pk %}" style="float: right;">Detail</a></td>
                </tr>
              {% endfor %}
              </tbody>
           
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b>Log Pasien Berobat</b></h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Nama</th>
              <th>Keluhan</th>
              <th>Poli</th>
              <th>Tanggal</th>
              <th>Waktu</th>
              <th>Dokter</th>
              <th>Keterangan</th>
            </tr>
            </thead>
            <tbody>
              {% for pasien in log_antrian %}
              <tr>
                <td><a href="{% url 'pengobatan:detail_pengobatan' tipe=request.user.tipe antrian=pasien.pk %}">{{ pasien.pasien }}</a></th>
                <td>{{ pasien.keluhan }}</th>
                <td>{{ pasien.jadwal.poli }}</th>
                <td>{{ pasien.tanggal_berkunjung }}</th>
                <td>{{ pasien.jadwal.waktu_mulai }} - {{ pasien.jadwal.waktu_selesai }}</th>
                <td>{{ pasien.dokter }}</th>
                <td>
                  {% if pasien.sudah_verifikasi %}
                    {% if pasien.sudah_ditangani %}
                      {% if pasien.sudah_berobat %}
                        Sudah Selesai
                      {% elif pasien.ditolak %}
                        Resep ditolak
                      {% else %}
                        Menunggu obat
                      {% endif %}
                    {% elif pasien.ditolak %}
                      Batal Berobat
                    {% else %}
                      Menunggu Dokter
                    {% endif %}
                  {% elif pasien.ditolak %}
                    Berkas ditolak
                  {% else %}
                    Menunggu verifikasi
                  {% endif %}
                </a></td>
                </tr>
              {% endfor %}
            </tbody>
            
            
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
{% endblock %}