{% extends 'petugas/sidebar.html' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b>Pendaftaran Pasien</b></h3>
        </div>
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <!-- <th width='5%'>No</th> -->
              <th width='30%'>Nama</th>
              <th>Keluhan</th>
              <th>Poli</th>
            </tr>
            </thead>
            <tbody>
              {% for b in berkas %}
              <tr>
                <td>{{ b.nama }}</td>
                <td>{{ b.keluhan }}</td>
                <td>{{ b.poli }} <a href="{% url 'pengobatan:detail' antrian=b.pk %}"></a></td>
              </tr>
              {% endfor %}
              <!-- <tr>
                <td>1</td>
                <td>Lenna</td>
                <td>Sakit kepala, radang</td>
                <td>Anak <a href="" style="float: right;">Detail</a> </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Pusing</td>
                <td>Umum <a href="" style="float: right;">Detail</a> </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>Batuk</td>
                <td>Penyakit Dalam <a href="" style="float: right;">Detail</a> </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
