{% extends 'petugas/sidebar.html' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b>Petunjuk Berobat</b></h3>
        </div>
        <div class="card-body">
        {% if guides %}
          {% for guideline in guides %}
            <img src="{{ guideline.guide.url }}">
            <br>
            <a href="{% url 'pengobatan:ubah_petunjuk' %}">Ubah</a>
            <a href="">Tambah</a>
          {% endfor %}
        {% else %}
          <div>
              Belum ada petunjuk
          </div>
          <br>
          <a href="" style="text-align: right;">Ubah</a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
