{% extends 'petugas/sidebar.html' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b>Profil Anda</b></h3>
        </div>
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td width='25%'>Nama Lengkap</td>
                <td>{{ user.nama }}</td>
            </tr>
            <tr>
                <td>Tempat, Tanggal Lahir</td>
                <td>{{ user.tempat_lahir }}, {{ user.tanggal_lahir }}</td>
            </tr>
            <tr>
                <td>Jenis Kelamin</td>
                {% if user.jenis_kelamin == 'P' %}
                  <td>Perempuan</td>
                {% elif user.jenis_kelamin == 'L' %}
                  <td>Laki-laki</td>
                {% endif %}
            </tr>
            <tr>
                <td>Nomor Pegawai</td>
                <td>{{ request.user.username }}</td>
            </tr>
            <tr>
                <td>Surat Tugas</td>
                {% if user.surat_tugas %}
                  <td><img src="{{ user.surat_tugas.url }}" style="width: 300px;"></td>
                {% endif %}
            </tr>
            </tbody>
          </table>
          <br>
          <a href="{% url 'accounts:pengaturan' %}">Pengaturan Akun</a>
          <button type="submit">Ubah Data</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}