{% extends 'petugas/sidebar.html' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b>Antrian Pasien</b></h3>
        </div>
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th width='5%'>No</th>
              <th width='25%'>Nama</th>
              <th width='20%'>Jadwal</th>
              <th width='20%'>Poli</th>
              <th>Dokter</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>Lenna</td>
              <td>Sabtu, 21/09/2019</td>
              <td>Anak</td>
              <td>dr. Leni</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Sabtu, 21/09/2019</td>
              <td>Umum</td>
              <td>dr. Angraeni</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b>Pasien Selesai Berobat</b></h3>
        </div>
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th width='5%'>No</th>
              <th width='25%'>Nama</th>
              <th width='20%'>Jadwal</th>
              <th width='20%'>Poli</th>
              <th>Keterangan</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>Larry</td>
              <td>Sabtu, 21/09/2019</td>
              <td>Anak</td>
              <td>Selesai</td>
            </tr>
            <tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}