{% extends 'base.html' %}

{% block title %}
  <body class="hold-transition register-page">
    <div class="register-box">
      <div class="register-logo">
        <a href="#">
          <b>Daftar
          {% if tipe == 'petugas' %}
            Petugas
          {% elif tipe == 'dokter' %}
            Dokter
          {% elif tipe == 'apoteker' %}
            Apoteker
          {% endif %}
          </b>
      </div>
    </div>
{% endblock %}

{% block content %}
    {% if registered %}
    
      <h1>Registrasi Berhasil</h1>
      <p>
        Akun telah berhasil dibuat.
      </p>
      <a href="{% url 'accounts:login' %}">Kembali ke halaman Login</a>
    {% else %}
      {% if messages %}
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      {% endif %}
        <div class="card-body register-card-body">
          <p class="login-box-msg">Register a new member</p>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group mb-3">
              <input type="text"  name="username" class="form-control" placeholder="Nomor Pegawai">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-edit"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password"  name="password" class="form-control" placeholder="Kata Sandi">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text"  name="nama" class="form-control" placeholder="Nama">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text"  name="tempat_lahir" class="form-control" placeholder="Tempat Lahir">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-home"></span>
                </div>
              </div>
            </div>
            <div class="input-group date mb-3" data-provide="datepicker" date-date-format="dd/mm/yyyy" placeholder="Tanggal Lahir">
              <input type="date"  name="tanggal_lahir" class="form-control">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-calendar"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <!-- <input type="" name="jenis_kelamin" class="form-control"> -->
              <!-- {{ akun_form.jenis_kelamin }} -->
              <select name="jenis_kelamin" class="form-control">
                <option value="L">Laki-laki</option>
                <option value="P">Perempuan</option>
              </select>

              </select>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class=""></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text"  name="nomor_telepon" class="form-control" placeholder="Nomor Telepon">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-phone"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3 ">
              <input type="textbox"  name="alamat" class="form-control" placeholder="Alamat">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-edit"></span>
                 </div>
              </div>
            </div>
            <input type="hidden" name="tipe" value="{{ tipe }}">
            <button type="sumbit" class="btn btn-primary btn-block btn-flat">Register</button>
          </form>
        </div>
    {% endif %}
{% endblock %}
