{% extends 'base.html' %}

{% block content %}
<div class="col-md-7  ">
  {% if registered %}
  <div class="card card-info">
    <div class="card-header">
      Registrasi Berhasil
    </div>
    <div class="card-body">
      <div class="form-group row">
        Akun Anda Berhasil dibuat. Silakan klik &nbsp;<a href="{% url 'accounts:login' %}"> Login </a> &nbsp; untuk masuk akun
      </div>
    </div>
  </div>
  {% else %}
    {% if messages %}
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    {% endif %}
  <div class="card card-primary">
    <div class="card-header">
      {% if tipe == 'petugas' %}
        <h3 class="card-title">Daftar Akun Petugas</h3>
      {% elif tipe == 'dokter' %}
        <h3 class="card-title">Daftar Akun Dokter</h3>
      {% elif tipe == 'apoteker' %}
        <h3 class="card-title">Daftar Akun Apoteker</h3>
      {% endif %}
    </div>

    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card-body">
        <div class="form-group row">
          <label for="username" class="col-sm-2 col-form-label">Nomor Pegawai</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="username" placeholder="Nomor Pegawai">
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label">Kata Sandi</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="password" placeholder="Kata Sandi">
          </div>
        </div>
        <div class="form-group row">
          <label for="nama" class="col-sm-2 col-form-label">Nama</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="nama" placeholder="Nama">
          </div>
        </div>
        <div class="form-group row">
          <label for="tempat_lahir" class="col-sm-2 col-form-label">Tempat Lahir</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="tempat_lahir" placeholder="Tempat Lahir">
          </div>
        </div>
        <div class="form-group row">
          <label for="tanggal_lahir" class="col-sm-2 col-form-label">Tanggal Lahir</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" name="tanggal_lahir" placeholder="Tanggal Lahir">
          </div>
        </div>
        <div class="form-group row">
          <label for="jenis_kelamin" class="col-sm-2 col-form-label">Jenis Kelamin</label>
          <div class="col-sm-10">
            <select name="jenis_kelamin" class="form-control">
              <option value="L">Laki-laki</option>
              <option value="P">Perempuan</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="nomor_telepon" class="col-sm-2 col-form-label">Nomor Telepon</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="nomor_telepon" placeholder="Nomor Telepon">
          </div>
        </div>
        <div class="form-group row">
          <label for="alamat" class="col-sm-2 col-form-label">Alamat</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="alamat" placeholder="Alamat">
          </div>
        </div>
      </div>
      <input type="hidden" name="tipe" value="{{ tipe }}">

      <div class="card-footer">
        <button type="sumbit" class="btn btn-primary btn-block btn-flat" style="border-radius:20pt; box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);">Register</button>
        <br>
        <p>Sudah memiliki akun? <a href="{% url 'accounts:login' %}">Masuk ke Akun</a> </p> 
      </div>
      
    </form>
    {% endif %}
    
</div>
{% endblock %}