{% extends 'base.html' %}


{% block content %}
<div class="col-md-3">
    <div class="card-body login-card-body" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);">
      <p class="login-box-msg">Masuk untuk memulai sesi</p>

      {% if messages %}
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <!-- {{ form.as_p}}
        <button type="submit"> Masuk </button> -->
        <div class="input-group mb-3">
          <input type="text"  name="username" class="form-control" placeholder="Nomor Pegawai">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-edit"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Kata sandi">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat" style="border-radius:20pt; box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);">Masuk</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mb-1">
        <a href="#">Lupa kata sandi</a>
      </p>
      <p>Belum memiliki akun? <a href="{% url 'accounts:register' %}">Daftar Akun</a> </p>
    </div>
</div>
    <!-- /.login-card-body -->
{% endblock %}