{% extends 'base.html' %}

{% block content %}
<div class="col-md-3">
  <div class="register-logo">
    <b>SEROJA</b>
  </div>
  
  <div class="card-body register-card-body" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);">
    <p class="login-box-msg">Daftar Akun</p>

      <div class="social-auth-links text-center">
        <a href="{% url 'accounts:akun_register' tipe='petugas' %}" class="btn btn-block btn-primary">
          Petugas
        </a>
        <a href="{% url 'accounts:akun_register' tipe='dokter' %}" class="btn btn-block btn-primary">
          Dokter
        </a>
        <a href="{% url 'accounts:akun_register' tipe='apoteker' %}" class="btn btn-block btn-primary">
          Apoteker
        </a>
      </div>
    <p>Sudah memiliki akun? <a href="{% url 'accounts:login' %}">Masuk ke Akun</a></p>
  </div>
</div>
{% endblock %}