{% extends 'base.html' %}

{% block title %} Daftar Akun {{ akun }} {% endblock %}

{% block content %}
  <div class="card-body register-card-body">
    <p class="login-box-msg">Register a new membership</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {{ form.as_p}}
        <button type="submit"> Masuk </button> -->
        <div class="input-group mb-3">
          <input type="text"  name="username" class="form-control" placeholder="Nomor Pegawai">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-edit"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            <input type="text"  name="first_name" class="form-control" placeholder="Nama Lengkap">
            <div class="input-group-append">
                <div class="input-group-text">
                <span class="fas fa-user"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="email"  name="email" class="form-control" placeholder="Email">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Kata sandi">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            <input type="file" name="avatar" class="form-control" placeholder="Foto Profil">
            <div class="input-group-append">
                <div class="input-group-text">
                <span class="fas fa-image"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="file" name="surat_tugas" class="form-control" placeholder="Foto Surat Tugas">
            <div class="input-group-append">
                <div class="input-group-text">
                <span class="fas fa-file"></span>
                </div>
            </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat" style="border-radius:20pt; box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);">Daftar</button>
          </div>
          <!-- /.col -->
        </div>
    </form>
    <p>Sudah memiliki akun? <a href="{% url 'accounts:login' %}">Masuk ke Akun</a> </p>
  </div>
{% endblock %}