<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daftar Akun</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Daftar Akun</legend>
            {{ form.as_p }}
            <button type="submit"> Buat Akun </button>
        </fieldset>
    </form>
    <p>Sudah memiliki akun? <a href="{% url 'accounts:login' %}">Masuk ke Akun</a> </p>
    
</body>
</html>
