{% extends 'base.html' %}

{% block title %} SEROJA {% endblock %}

{% block content %}
  <div class="card-body register-card-body">
    <p class="login-box-msg">Daftar Akun</p>

    <div class="social-auth-links text-center">
      <a href="{% url 'accounts:petugas_signup' %}" class="btn btn-block btn-primary">
        Petugas Pendaftaran
      </a>
      <a href="{% url 'accounts:dokter_signup' %}" class="btn btn-block btn-primary">
        Dokter
      </a>
      <a href="{% url 'accounts:apoteker_signup' %}" class="btn btn-block btn-primary">
          Apoteker
      </a>
    </div>

    <p>Sudah memiliki akun? <a href="{% url 'accounts:login' %}">Masuk ke Akun</a> </p>
  </div>
{% endblock %}