{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Seroja </title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>
<body>
    {% block title %} {% endblock %}
    <hr>
    {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}">Logout</a> 
        <a href="{% url 'home' %}">Home</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">Login</a>
        <a href="{% url 'accounts:signup' %}">Daftar</a>
    {% endif %}
    {% block content %} {% endblock %}
</body>
</html>