{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Seroja </title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>
<body>
    {% block title %} {% endblock %}
    <h1> Welcome </h1>
    <hr>
    <h2> Halo, {{ user.username }}</h2>
    
    <a href="{% url 'guideline:display' %}">Guidelines</a>

    {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}">Logout</a> 
        <a href="{% url 'accounts:home' %}">Home</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">Login</a>
        <a href="{% url 'accounts:register' %}">Daftar</a>
    {% endif %}
    {% block content %} {% endblock %}
</body>
</html>

