{% extends 'dokter/sidebar.html' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b>Antrian Pasien</b></h3>
        </div>
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th width='30%'>Nama</th>
              <th>Poli</th>
              <th>Keluhan</th>
            </tr>
            </thead>
            <tbody>
              {% for pasien in antrian_pasien %}
                <tr>
                  <td>{{ pasien.pasien }}</td>
                  <td>{{ pasien.jadwal.poli }}</td>
                  <td>{{ pasien.keluhan }}<a href="{% url 'pengobatan:detail_pengobatan' tipe=request.user.tipe antrian=pasien.pk %}" style="float: right;" >Detail</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b>Status Pasien</b></h3>
        </div>
        <div class="card-body">
          <table id="example1" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th width='30%'>Nama</th>
              <th>Keterangan</th>
            </tr>
            </thead>
            <tbody>
            {% for resep in antrian_apotek %}
              <tr>
                <td><a href="{% url 'pengobatan:detail_pengobatan' tipe=request.user.tipe antrian=resep.pk %}">{{ resep.pasien }}</a></td>
                {% if resep.sudah_berobat %}
                <td><font color="black">Selesai</font></td>
                {% elif resep.ditolak %}
                <td><font color="red">Resep ditolak</font></td>
                {% else %}
                <td><font color="green">Menunggu obat</font></td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
