{% extends 'dokter/sidebar.html' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b>Antrian Pasien</b></h3>
        </div>
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th width='5%'>No</th>
              <th width='30%'>Nama</th>
              <th>Keluhan</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>Lenna</td>
              <td>Sakit kepala, radang <a href="" style="float: right;">Detail</a> </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Pusing <a href="" style="float: right;">Detail</a> </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>Batuk <a href="" style="float: right;">Detail</a> </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b>Pasien Selesai Berobat</b></h3>
        </div>
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th width='5%'>No</th>
              <th width='30%'>Nama</th>
              <th>Keterangan</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>Leo</td>
              <td>Selesai</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}