{% extends 'dokter/sidebar.html' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b>Log Pemberian Obat</b></h3>
        </div>
        <div class="card-body">
          <table id="example1" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th width='30%'>Nama</th>
              <th>Tanggal Berkunjung</th>
              <th>Resep Obat</th>
            </tr>
            </thead>
            <tbody>
              {% for pasien in pasien_berobat %}
                <tr>
                  <td>{{ pasien.pasien }}</td>
                  <td>{{ pasien.tanggal_berkunjung }}</td>
                  <td>{{ pasien.obat }}, {{ pasien.dosis }} </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
