{% extends 'apoteker/sidebar.html' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b>Log Obat Keluar</b></h3>
        </div>
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th width='5%'>No</th>
              <th width='20%'>Tanggal</th>
              <th width='25%'>Nama</th>
              <th width='25%'>Nama Obat</th>
              <th>Dosis Obat</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>Kamis, 21/11/2019</td>
              <td>Lenna</td>
              <td>Paracetamol</td>
              <td>1000 mg <a href="" style="float: right;">Detail</a> </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Kamis, 21/11/2019</td>
              <td>Jacob</td>
              <td>Panadol</td>
              <td>500 mg <a href="" style="float: right;">Detail</a> </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}